<html>
<head>
<title>Rock--Paper--Scissor
</title>
</head>
<body>
<h1><center><b>Rock--Paper--Scissor</b></center></h1>
<button type="button" value="Start a new Game" name="Start a new Game" >
<h6>Start a new Game</h6></button>
Or
<button type="button" Value="Play" ><a href="game2.php" />Play</button>or<button type="button" Value="Watch" href="watch.php">Watch</button>
 <select name="games" id="games"onchange="getdoc(this.value)">
							 
                                <?php
							  include("connection.php");
							  $str=mysqli_query($connection,"select * from games");
							  while($res=mysqli_fetch_array($str))
							  {
							  
							  
							  
							  ?>
                                <option value="<?php echo $res['id'];?>"><?php echo $res['game_name'];?></option>
							  <?php
							  }
							  ?>
</body>
</html>